{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Cinema Room List</h4>
    <table class="table">
        <thead>
            <tr>
				<th scope="col">Room ID</th>
                <th scope="col">Room Name</th>
                <th scope="col">Total Seats</th>
                <th scope="col"><a type="button" class="btn btn-success" href="{%url 'cinema_room_create' %}">Create</a></th>
            </tr>
        </thead>
        <tbody>
            {% for cinema_room in cinema_rooms %}
            <tr>
                <td>{{ cinema_room.room_id }}</td>
                <td>{{ cinema_room.room_name }}</td>
                <td>{{ cinema_room.total_seat}}</td>
                <td><a type="button" class="btn btn-warning" href="/cinema_room_update/{{ cinema_room.room_id }}">Update</a>
                    <!-- <a type="button" class="btn btn-danger" href="/book-delete/{{ book.id }}">Delete</a> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <a type="button" class="btn btn-success" href="{%url 'cinema_room_create' %}">Create</a> -->
</div>
{% endblock %}