{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h5>Create New Food and Drink</h5>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a type="button" class="btn btn-danger" href="{%url 'food_and_drinks_list' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
{% endblock %}