{% extends "CinemaCustomerPages/CustomerView.html" %}

{% block title %}
    My Tickets
{% endblock %}

{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Oswald');
        * {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box
        }

        body {
            background-color: #dadde6;
            font-family: arial
        }

        .fl-left {
            float: left
        }

        .fl-right {
            float: right
        }

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            border-left: 10px solid #fec500;
            padding-left: 10px;
            margin-bottom: 30px
        }

        .row {
            overflow: hidden
        }

        .card {
            display: table-row;
            width: 100%;
            height: 15em;
            background-color: #fff;
            color: #989898;
            margin-bottom: 10px;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            border-radius: 4px;
            position: relative
        }

        .card+.card {
            margin-left: 2%
        }

        .date {
            display: table-cell;
            width: 25%;
            height: 15em;
            position: relative;
            text-align: center;
            border-right: 2px dashed #dadde6
        }

        .date:before,
        .date:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-color: #DADDE6;
            position: absolute;
            top: -15px;
            right: -15px;
            z-index: 1;
            border-radius: 50%
        }

        .date:after {
            top: auto;
            bottom: -15px
        }

        .date time {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
        }

        .date time span {
            display: block
        }

        .date time span:first-child {
            color: #2b2b2b;
            font-weight: 600;
            font-size: 250%
        }


        .card-cont {
            display: table-cell;
            width: 75%;
            height: 15em;
            font-size: 85%;
            padding: 10px 10px 30px 50px
        }

        .card-cont h3 {
            color: #3C3C3C;
            font-size: 130%
        }


        .card-cont > div {
            display: table-row
        }

        .card-cont .even-date i,
        .card-cont .even-info i,
        .card-cont .even-date time,
        .card-cont .even-info p {
            display: table-cell
        }

        .card-cont .even-date i,
        .card-cont .even-info i {
            padding: 5% 5% 0 0
        }

        .card-cont .even-info p {
            padding: 30px 50px 0 0
        }

        .card-cont .even-date time span {
            display: block
        }

        .card-cont .cancelBtn {
            display: block;
            text-decoration: none;
            width: 100;
            background-color: red;
            text-align: center;
            color: white;
            border-radius: 2px;
            position: absolute;
            right: 10px;
            bottom: 10px
        }


        @media screen and(max-width: 860px) {
            .card {
                display: block;
                float: none;
                width: 100%;
                margin-bottom: 10px
            }
            .card+.card {
                margin-left: 0
            }
            .card-cont .even-date,
            .card-cont .even-info {
                font-size: 75%
            }
        }

        .classCheckoutlist {
            font-size: 2em;

        }

        .classCheckoutlist .row {
            font-family: 'Oswald', sans-serif;
            text-align: right;
            font-size: 1em;
            font-weight: 600;
        }

        .classCheckoutlist .row .price {
            text-align: left;
        }

        #checkoutBtn {
            position: relative;
            background: #c41f26;
            width: 300px;
            height: 34px;
            color: white;
            right: 4%;

        }
    </style>

    <section class="ticketCard col-6 my-5 mx-5">
        <h1>Tickets</h1>

    </section>

    <script>
        // Add the shadow on cards when u hover over them
        $(document).ready(function () {
            $('.card').hover(function () {
                $(this).addClass('shadow-lg').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow-lg');
            });
        });

        // Add a new ticket card when u click on the button
        const ticketCart = document.querySelector(".ticketCard");

        // This is fine, don't touch it, it's just a list of tickets from movie seat checkout
        let tickets = {{ tickets|safe }};
        
        console.log(tickets);
        
        
        Object.values(tickets).forEach(ticket => {
            createNewTicket(ticket);
        });
       
        // function to create a new ticket card
        function createNewTicket(ticket) { // create a new article element with the class "card"

            let movie = ticket.movie_session.movie_id;
            let movieName = movie.movie_title;
            let movieGenre = movie.movie_genre;
            let movieDuration = movie.movie_duration;
            let movieDescription = movie.movie_description;

            const card = document.createElement("article");
            card.classList.add("card");

            // create a new section element with the class "date"
            const date = document.createElement("section");
            date.classList.add("date");

            // create a new time element with the datetime attribute set to "23th feb"
            const time = document.createElement("time");
            time.setAttribute("datetime", "23th feb");

            // create two new span elements with the text "23" and "feb"
            const span1 = document.createElement("span");
            span1.textContent = "16";
            const span2 = document.createElement("span");
            span2.textContent = "feb";

            // append the span elements to the time element
            time.appendChild(span1);
            time.appendChild(span2);

            // append the time element to the date section
            date.appendChild(time);

            // create a new section element with the class "card-cont"
            const cardCont = document.createElement("section");
            cardCont.classList.add("card-cont");


            const h3 = document.createElement("h3");
            h3.textContent = movieName;

            // create a new div element with the class "even-date"
            const evenDate = document.createElement("div");
            evenDate.classList.add("even-date");

            // create a new i element with the class "fa fa-calendar"
            const i = document.createElement("i");
            i.classList.add("fa", "fa-calendar");

            // create a new time element with the text "wednesday 28 december 2014" and "08:55pm to 12:00 am"
            const time2 = document.createElement("time");
            time2.innerHTML = "<span> Duration : " + movieDuration + " hours </span>";

            // append the i and time elements to the even-date div
            evenDate.appendChild(i);
            evenDate.appendChild(time2);

            // create a new div element with the class "even-info"
            const evenInfo = document.createElement("div");
            evenInfo.classList.add("even-info");

            // create a new i element with the class "fa fa-map-marker"
            const i2 = document.createElement("i");
            i2.classList.add("fa", "fa-map-marker");

            // create a new p element with the text "nexen square for people australia, sydney"
            const p = document.createElement("p");
            p.textContent = movieDescription;

            // append the i and p elements to the even-info div
            evenInfo.appendChild(i2);
            evenInfo.appendChild(p);

            

            // append the small, h3, even-date, even-info, and a elements to the card-cont section
            cardCont.appendChild(h3);
            cardCont.appendChild(evenDate);
            cardCont.appendChild(evenInfo);
            

            // append the date and card-cont sections to the card article
            card.appendChild(date);
            card.appendChild(cardCont);

            // create a new row element with the class "row"
            const row = document.createElement("div");
            row.classList.add("row");

            // append the card article to the row element
            row.appendChild(card);

            // append the row element to the document body
            ticketCart.appendChild(row);
        }
    </script>
{% endblock %}
