{% extends "CinemaCustomerPages/CustomerView.html" %}

{% load static %}

{% block title %}
Customer View Template
{% endblock %}

{% block content %}
<section class="row">
    <section class="ticketCard col-6 my-5 mx-5">
        <h1>Tickets</h1>

    </section>

    <section class="classCheckoutlist my-5 col-5">
        <h1 class="" style="text-align: center; background: greenyellow;">checkout</h1>
        <hr>
        <div class="row">
            <div class="col-6">Ticket Total :</div>
            <div class="price col-6" id="total"></div>
        </div>
        <div class="row">
            <div class="col-6">Food Total :</div>
            <div class="price col-6" id="foodTotal"></div>
        </div>
        <div class="row">
            <div class="col-6">Subtotal :</div>
            <div class="price col-6" id="subtotal"></div>
        </div>
        <div class="row">
            <div class="col-6">Tax :</div>
            <div class="price col-6" id="tax"></div>
        </div>
        <hr>
        <div class="row" id="finalPriceRow">
            <div class="col-6">Final Price :</div>
            <div class="price col-6" id="finalPrice"></div>
        </div>
        <hr>
        <div class="checkoutBtns d-flex justify-content-center pt-4">
            <button id="Add Redeem" class="btn RedeemBtn">Add Redeem</button>
            <button id="PayBtnId" class="btn PayBtn">Pay</button>
        </div>

    </section>
</section>


<link rel="stylesheet" href="{% static 'css/ticketcart.css' %}">

<script>
    // Add the shadow on cards when u hover over them
    $(document).ready(function () {
        $('.card').hover(function () {
            $(this).addClass('shadow-lg').css('cursor', 'pointer');
        }, function () {
            $(this).removeClass('shadow-lg');
        });
    });


    // reset the discount from previous session
    localStorage.setItem("discount", 0);

    // Add a new ticket card when u click on the button
    const ticketCart = document.querySelector(".ticketCard");


    // this stores ticket data from movie_seat selection
    let ticketsJSON = {{ tickets | safe}};

    // get the previous tickets data user added to the cart
    let tickets = localStorage.getItem("tickets");

    // transform the tickets data to JSON object to get it data
    tickets = JSON.parse(tickets);


    // this is a check to decide whether to use the tickets from previous session 
    // or newly generated tickets from movie seat selection

    // this is decide on whethere or not the seats number are the same or 
    // whether the stored tickets are from the same movie session

    // stored tickets means when the user add tickets to cart they will stored 
    // so that any pages make like adding comboes will be saved on refreshing the page

    if (!tickets || ticketsJSON.seats.length !== tickets.seats.length
        || tickets.session['session_id'] !== ticketsJSON.session['session_id']) {
        tickets = {{ tickets | safe }};
    }
    saveTickets(tickets); // save the tickets to local storage

    console.log(tickets);

    let foodcombo = {{ foodcombo | safe}};
    console.log(foodcombo);

    // get the movie_data from the session in movie_ticket 
    const movie = tickets.session.movie;
    const movieName = movie.movie_title;
    const movieGenre = movie.movie_genre;
    const movieDuration = movie.movie_duration;
    const movieDescription = movie.movie_description;


    // this stores the checkOut list html contents
    const checkOutList = document.querySelector(".classCheckoutlist");
    const checkOutListHTML = checkOutList.innerHTML;

    // this stores the pay and add redeem buttons

    const checkoutBtns = document.querySelector(".checkoutBtns");
    const pay_and_Redeem_Btn = checkoutBtns.innerHTML;

    // this store html contents of food items list
    const foodItemrow = document.createElement("div");
    foodItemrow.classList.add("row", "foodItemrow", "row-cols-1", "row-cols-md-2");
    foodItemrow.style.marginTop = "70px";

    const comboesHeader = document.createElement("h1");
    comboesHeader.innerHTML = "Food Combos";

    // Generate a new ticket cards for each seat selected
    tickets.seats.forEach((seat) => {
        createNewTicket(seat);
    });

    const cards = document.querySelectorAll(".card");
    const cardIndexes = [];

    cards.forEach((card, index) => {
        cardIndexes.push(index);
        card.dataset.index = index;

        card.addEventListener("click", () => {
            highlightCard(card);
        });

        card.querySelector(".cancelBtn").addEventListener("click", cancelTicket);
    });

    // function to create a new ticket card
    function createNewTicket(seat) { // create a new article element with the class "card"
        const card = document.createElement("article");
        card.classList.add("card");

        // create a new section element with the class "date"
        const date = document.createElement("section");
        date.classList.add("date");

        // create a new time element with the datetime attribute set to "23th feb"
        const time = document.createElement("time");
        time.setAttribute("datetime", "23th feb");

        // create two new span elements with the text "23" and "feb"
        const span1 = document.createElement("span");
        span1.textContent = "16";
        const span2 = document.createElement("span");
        span2.textContent = "feb";

        // append the span elements to the time element
        time.appendChild(span1);
        time.appendChild(span2);

        // append the time element to the date section
        date.appendChild(time);

        // create a new section element with the class "card-cont"
        const cardCont = document.createElement("section");
        cardCont.classList.add("card-cont");


        const h3 = document.createElement("h3");
        h3.textContent = movieName;

        // create a new div element with the class "even-date"
        const evenDate = document.createElement("div");
        evenDate.classList.add("even-date");

        // create a new time element with the text "wednesday 28 december 2014" and "08:55pm to 12:00 am"
        const time2 = document.createElement("time");
        time2.innerHTML = "<span> Duration : " + movieDuration + " hours </span>";

        // append the i and time elements to the even-date div

        evenDate.appendChild(time2);

        // create a new div element with the class "even-info"
        const evenInfo = document.createElement("div");
        evenInfo.classList.add("even-info");

        // create a new p element with the text "nexen square for people australia, sydney"
        const p = document.createElement("p");
        p.textContent = "Seat No : " + seat.seat + " | Room No : " + tickets.session.room['room_name'];

        // append the i and p elements to the even-info div

        evenInfo.appendChild(p);

        // create a list of food items when the user add the food items
        const comboes = document.createElement("div");
        comboes.classList.add("foodItems");

        const comboesLabel = document.createElement("h6");
        comboesLabel.innerHTML = "Food Combos :";
        comboes.appendChild(comboesLabel);

        const comboesList = document.createElement("ul");
        comboesList.classList.add("comboesList");
        comboes.appendChild(comboesList);

        // check if there are comboes already added to the tickets
        if (Object.keys(seat.foodcomboes).length > 0) {
            for (const comboName in seat.foodcomboes) {
                const combo = document.createElement("li");
                combo.innerHTML = comboName + " X " + seat.foodcomboes[comboName]['combo_quantity'];
                comboesList.appendChild(combo);
            }
        }
        // if there are none, this will be displayed
        else {
            const notice = document.createElement("li")
            notice.innerHTML = "Select the ticket to add food to";
            notice.classList.add("notice");

            comboesList.appendChild(notice);
        }

        

       

        // create a new a element with the text "tickets"
        const btn = document.createElement("button");
        btn.classList.add("cancelBtn", "btn");
        btn.textContent = "Cancel Ticket";

        // append the small, h3, even-date, even-info, and a elements to the card-cont section
        cardCont.appendChild(h3);
        cardCont.appendChild(evenDate);
        cardCont.appendChild(evenInfo);
        cardCont.appendChild(comboes);
        cardCont.appendChild(btn);
        

        // append the date and card-cont sections to the card article
        card.appendChild(date);
        card.appendChild(cardCont);

        // create a new row element with the class "row"
        const row = document.createElement("div");
        row.classList.add("row");

        // append the card article to the row element
        row.appendChild(card);

        // append the row element to the document body
        ticketCart.appendChild(row);
    }

    // function to create food items card

    function listAvailableComboes() {

        foodcombo.forEach((combo) => {
            createNewFoodItem(combo);
        });

        const line = document.createElement("hr");


    }

    function createNewFoodItem(combo) {
        const fooditemcard1 = document.createElement("div")
        fooditemcard1.classList.add("card-fooditemcard", "col");

        const img1 = document.createElement("img");
        img1.classList.add("card-img-top");
        img1.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdGMa2NpQ6nvK52J3fmFh_Y_C0I7HkLu22yg&usqp=CAU";
        img1.alt = "Combo 1";

        const cardBody1 = document.createElement("div");
        cardBody1.classList.add("card-body");

        const foodName = document.createElement("h5");
        foodName.textContent = combo.combo_name;

        const foodPrice = document.createElement("p");

        const Pricespan = document.createElement("span");
        Pricespan.classList.add("combo-price");
        Pricespan.textContent = combo.combo_price;
        foodPrice.textContent = "Price: $";
        foodPrice.appendChild(Pricespan);

        const addAmmountBody = document.createElement("div");
        addAmmountBody.classList.add("card-footer");

        const ammountContent = document.createElement("div");
        ammountContent.setAttribute("class", "d-flex justify-content-between align-items-center");

        const amountLabel = document.createElement("label");
        amountLabel.textContent = "Amount: ";

        const amountField = document.createElement("input");

        amountField.type = "number";
        amountField.min = "0";
        amountField.setAttribute("value", "0");
        amountField.classList.add("form-control", "form-control-sm", "quantity");


        ammountContent.appendChild(amountLabel);
        ammountContent.appendChild(amountField);

        addAmmountBody.appendChild(ammountContent);

        cardBody1.appendChild(foodName);
        cardBody1.appendChild(foodPrice);
        cardBody1.appendChild(addAmmountBody);

        fooditemcard1.appendChild(img1);
        fooditemcard1.appendChild(cardBody1);

        foodItemrow.appendChild(fooditemcard1);
    }

    function calculateTotalPrice() {

        let ticketTotal = 0;
        let foodTotal = 0;
        let subtotal = 0;
        let tax = 0;
        let total = 0;
        let finalPrice = 0;

        tickets.seats.forEach((seat) => {
            ticketTotal += 5;

            for (const comboName in seat.foodcomboes) {
                foodTotal += seat.foodcomboes[comboName]['combo_price'] * seat.foodcomboes[comboName]['combo_quantity'];
            }
        });

        subtotal = ticketTotal + foodTotal;
        tax = subtotal * 0.13;

        // total only applied when there is a discount
        total = subtotal + tax;

        // final price is a real total price
        finalPrice = subtotal + tax;

        document.getElementById("total").innerHTML = "$" + total;
        document.getElementById("foodTotal").innerHTML = "$" + foodTotal;
        document.getElementById("subtotal").innerHTML = "$" + subtotal;
        document.getElementById("tax").innerHTML = "$" + tax;

        const discount = parseInt(localStorage.getItem("discount")) || 0;
        if (discount > 0) {
            const discountAmount = (discount / 100) * (subtotal + tax);
            // Check whether discount is already applied or not
            if (document.getElementById("discountAmount")) {
                document.getElementById("discountAmount").innerHTML = "-$" + discountAmount;
                finalPrice = finalPrice - discountAmount;
                // if not create a discount row and insert it in checkout section
            } else {


                // get the row for final price
                const finalPriceLabel = document.getElementById("finalPriceRow");

                // This insert the Total Price row in checkout Section
                const totalDiv = document.createElement("totalDiv");
                totalDiv.classList.add("row");

                const totalPriceLabel = document.createElement("div");
                totalPriceLabel.classList.add("col-6");
                totalPriceLabel.innerHTML = "Total :";

                const totalPriceValue = document.createElement("div");
                totalPriceValue.classList.add("col-6", "price");
                totalPriceValue.innerHTML = "$" + total;

                totalDiv.appendChild(totalPriceLabel);
                totalDiv.appendChild(totalPriceValue);

                finalPriceLabel.parentNode.insertBefore(totalDiv, finalPriceLabel);

                const discountEle = document.createElement("div");
                discountEle.classList.add("row");

                const discountLabel = document.createElement("div");
                discountLabel.classList.add("col-6");
                discountLabel.innerHTML = "Discount :";

                const discountValue = document.createElement("div");
                discountValue.classList.add("col-6", "price");
                discountValue.setAttribute("id", "discountAmount");
                discountValue.innerHTML = "-$" + discountAmount;

                discountEle.appendChild(discountLabel);
                discountEle.appendChild(discountValue);


                finalPriceLabel.parentNode.insertBefore(discountEle, finalPriceLabel);

                finalPrice = finalPrice - discountAmount;
            }
        }
        document.getElementById("finalPrice").innerHTML = "$" + finalPrice;
    }

    // function to highlight the selected ticket
    function highlightCard(card) {

        cards.forEach((ticketcard) => {
            if (ticketcard === card) {
                ticketcard.classList.add("card-selected");
            } else {
                ticketcard.classList.remove("card-selected");
            }
        });

        // Check if any ticket is selected
        const selectedTicket = document.querySelector(".card-selected");
        const rightsection = document.querySelector(".classCheckoutlist");

        const line = document.createElement("hr");

        const foodbuttoncontainer = document.createElement("div");
        foodbuttoncontainer.classList.add("foodbuttoncontainer", "text-center");

        const doneBtn = document.createElement("button");
        doneBtn.textContent = "Add Combo";
        doneBtn.classList.add("btn", "PayBtn");

        const checkOutBtn = document.createElement("button");
        checkOutBtn.textContent = "Check Out";
        checkOutBtn.classList.add("btn", "PayBtn");

        foodbuttoncontainer.appendChild(doneBtn);
        foodbuttoncontainer.appendChild(checkOutBtn);

        doneBtn.addEventListener("click", confirmOrder);
        checkOutBtn.addEventListener("click", checkOut);

        if (selectedTicket) {
            checkOutList.innerHTML = foodItemrow.outerHTML;
            rightsection.appendChild(line);
            rightsection.appendChild(foodbuttoncontainer);
        }
    }

    function cancelTicket(event) {
        const card = event.target.closest(".card");
        const seatIndex = card.dataset.index;
        card.remove();
        tickets.seats.splice(seatIndex, 1);

        calculateTotalPrice();
        saveTickets(tickets);

        if (tickets.seats.length === 0) {
            document.querySelector(".ticketCart").innerHTML = "<h1>Cart is empty</h1>";
        }
    }

    function saveTickets(tickets) {
        localStorage.setItem("tickets", JSON.stringify(tickets));
    }

    function confirmOrder() {

        const foodcards = document.querySelectorAll(".card-fooditemcard");
        const selectedCard = document.querySelector(".card-selected");
        const comboList = document.querySelector(".card-selected .card-cont .foodItems .comboesList");
        comboList.innerHTML = "";

        tickets.seats[selectedCard.dataset.index].foodcomboes = {};

        foodcards.forEach((foodcard) => {
            const comboQuantity = foodcard.querySelector(".card-footer .d-flex .quantity").value;


            if (comboQuantity > 0) {
                const comboname = foodcard.querySelector(".card-body h5").textContent;
                const comboPrice = foodcard.querySelector(".card-body p .combo-price").textContent;

                const combo_li = document.createElement("li");
                combo_li.classList.add("list-group-item", "d-flex", "justify-content-between", "lh-condensed");
                combo_li.innerHTML = comboname + " x " + comboQuantity;
                comboList.appendChild(combo_li);

                const combo = {
                    "combo_name": comboname,
                    "combo_price": comboPrice,
                    "combo_quantity": comboQuantity
                };
                tickets.seats[selectedCard.dataset.index].foodcomboes[comboname] = combo;


                saveTickets(tickets);
            }

        });


    }

    function checkOut() {
        cards.forEach((card) => {
            card.classList.remove("card-selected");
        })

        const rightsection = document.querySelector(".classCheckoutlist");

        rightsection.innerHTML = checkOutListHTML;
        calculateTotalPrice();

        document.querySelector(".RedeemBtn").addEventListener("click", displayDiscount);

        document.querySelector(".PayBtn").addEventListener("click", makePayment);
    }

    function displayDiscount() {

        const RedeemHeader = document.createElement("h3");
        RedeemHeader.innerHTML = "Redeem Discount";

        const discount5 = document.createElement("button")
        discount5.classList.add("discount", "btn");
        discount5.innerHTML = "5% discount (5 points)";
        discount5.setAttribute("data-discount", "5");

        const discount10 = document.createElement("button")
        discount10.classList.add("discount", "btn");
        discount10.innerHTML = "10% discount (10 points)";
        discount10.setAttribute("data-discount", "10");

        const discount20 = document.createElement("button")
        discount20.classList.add("discount", "btn");
        discount20.innerHTML = "20% discount (20 points)";
        discount20.setAttribute("data-discount", "20");

        document.querySelector(".checkoutBtns").innerHTML = "";
        document.querySelector(".checkoutBtns").appendChild(RedeemHeader);
        document.querySelector(".checkoutBtns").appendChild(discount5);
        document.querySelector(".checkoutBtns").appendChild(discount10);
        document.querySelector(".checkoutBtns").appendChild(discount20);

        document.querySelectorAll(".discount").forEach((discount) => {
            discount.addEventListener("click", function () {
                localStorage.setItem("discount", discount.dataset.discount);
                calculateTotalPrice();
                document.querySelector(".checkoutBtns").innerHTML = pay_and_Redeem_Btn;

                // since the button are regenerated, we need to add event listeners again
                document.querySelector(".RedeemBtn").addEventListener("click", displayDiscount);
                document.querySelector(".PayBtn").addEventListener("click", makePayment);
            });
        });

    }

    function makePayment() {
        const data = {
            "tickets": tickets
        };

        fetch("{% url 'checkout' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', // Necessary to work with request.is_ajax()
                'X-CSRFToken': "{{ csrf_token }}"
            },
            body: JSON.stringify(
                { "data": data }
            )
        }).then(response => {
            if (response.ok) {
                window.location.href = '{% url "checkOutCart" %}';
            } else {
                throw new Error('Something went wrong');
            }
        });
    }
    document.querySelector(".RedeemBtn").addEventListener("click", displayDiscount);

    listAvailableComboes();
    // add a click event listener to the "Add Card" button


    // The first ticket will always be highlighted, so that customer
    // can see the food comboes by default

    // Add an event listener for the load event of the window object
    window.addEventListener("load", () => {
        // Select the first ticket card element and highlight it
        const firstTicket = document.querySelector(".card");
        highlightCard(firstTicket);
    });

</script>
{% endblock %}